<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
    <div class="container">
        <h1>Register</h1>
        <form method="post" class="form-control" th:object="${registerModel}">
            <div class="form-group" th:classappend="${#fields.hasErrors('username')} ? 'has-danger'">
                <label class="form-control-label" for="username">Username</label>
                <input type="text" class="form-control form-control-danger" id="username" th:field="*{username}">
                <div class="form-control-feedback" th:each="error : ${#fields.errors('username')}" th:text="${error}"></div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-danger'">
                <label class="form-control-label" for="pass">Password</label>
                <input type="password" class="form-control form-control-danger" id="pass" th:field="*{password}">
                <div class="form-control-feedback" th:each="error : ${#fields.errors('password')}" th:text="${error}"></div>
            </div>
            <div class="form-group" th:classappend="${#fields.errors('global')} ? 'has-danger'">
                <label class="form-control-label" for="confPass">Confirm Password</label>
                <input type="password" class="form-control form-control-danger" id="confPass" th:field="*{confirmPassword}">
                <div class="form-control-feedback" th:each="error : ${#fields.errors('global')}" th:text="${error}"></div>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input class="btn btn-primary" type="submit" value="Register"/>
        </form>
    </div>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>